*{
    margin: 0;
    padding: 0;
    font-family: AdLib;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.center{
    align-items: center;
    justify-content: center;
}

#musicControl{
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: rgb(192, 192, 192);
    box-shadow: 2px 2px 5px 2px rgb(102, 91, 91);
}

/* Majority Styling for Home Page*/
body{
    background-image: url('assets/cosmicCity.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transition: background-image 0.5s ease-in;
}

#emptySpace{
    width: 10vw;
}

#introDiv,#rulesDiv{
    position: relative;
    height: 80vh;
    width: 70vw;
    background: linear-gradient(45deg, #555, #ddd);
    box-shadow: 100px 50px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1rem 3rem;
}

#startGameDiv{
    height: 80%;
    position: absolute;
    top: 3rem;
    width: 50%;
    right: 30%;
    justify-content: space-around;
}

#startGameHeadings{
    text-align: center;
}

#startGameHeadings *{
    margin: 1rem;
}

.bottom-left{
    position: absolute;
    height: 90%;
    bottom: -10%;
    left: -10%;
}

.bottom-right{
    position: absolute;
    height: 90%;
    bottom: -10%;
    right: -10%;
}

#startGameButtons p{
    font-size: 1.5rem;
    margin: 1.5rem;
}
.heading1{
    font-size: 4rem;
}

.heading2{
    font-size: 2.5rem;
}



/*  Majority Styling for Rules Page */
.mid-right{
    position: absolute;
    height: 90%;
    bottom: -10%;
    right: -20%;
}

.rule{
    font-size: 2rem;
}

#rule1{
    height: 80%;
    width: 60%;
    justify-content: space-between;
    position: absolute;
    top: 5rem;
    right: 32.5%;
}

#rule2{
    padding: 1rem 2rem;
    text-align: center;
}

#rule2 *{
    margin-top: 0.5rem;
}

#rule2 p, #rule4 p{
    width: 50vw;
}

.control-img{
    height: 20vh;
}

.platform-img{
    height: 10vh;
}

#rule3{
    padding: 3rem;
    text-align: center;
}

#rule3 *{
    margin-top: 1.5rem;
}

#rule4{
    text-align: center;
    padding: 1rem 2rem;
}
#rule4 *{
    margin-top: 1rem;
}

#rule5{
    height: 100%; 
    font-size: 2rem; 
    text-align: center; 
    width: 50%;
}


/*  Majority Styling for Introduction Page */
.heading3{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    margin-top: 0.75rem;
}

.nameInput{
    height: 2rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #512727;
    transition: all 0.3s ease-in-out;
}

.nameInput:hover{
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: none;
}


/*  Majority Styling for Selection Page */
#blur-bg{
    background-image: url('assets/cosmicCity.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    filter: blur(3px);
    z-index:-1 ;
    transition: background-image 0.5s ease-in;
}

#mapDiv{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#stellerDiv{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.outer-map-div, .outer-steller-div{
    width: 250px;
    height: 30vh;
}

.map-info, .steller-info{
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 75%;
    background-color: #e6e6e667;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.steller-info{
    text-wrap: nowrap;
}
.map-img, .steller-img{
    height: 20vh;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

#selectionPageContainer{
    padding: 2vw;
    width: 90vw;
}

.map-info:hover, .steller-info:hover{
    transform: scale(1.125);
    background-color: #ffffff00;;
}

.selected{
    background-color: rgba(255, 217, 0, 0.279);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.selected:hover{
    background-color: rgba(255, 217, 0, 0.523);
}
#selectionPageContainer h1{
    margin: 2rem;
}


/*  Majority Styling For Game Page  */
#gamePageContainer{
    position: relative;
}

#blur-bg.blur{
    background-position: center;
    filter: brightness(75%) blur(3px);
}

#gameDiv{
    height: 100vh;
    width: 600px;
    background-image: url('./assets/cosmicValley.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#gameBgCover{
    position: absolute;
    height: 100%;
    width: 600px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.568);
}

#resultDiv{
    text-align: center;
    height: 40%;
    justify-content: space-around;
}

/*  Button Styling  */
.button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #565353;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem 1rem;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 1rem 0;
}

.button:hover {
    transform: scale(1.2);
    background: linear-gradient(45deg, #555, #747373);
    border-radius: 1rem 0.25rem;
} 



/*  Animations  */
.floating1{
    animation: floating1 3s ease-in-out infinite;
}

.floating2{
    animation: floating2 3s ease-in-out infinite;
}

.floating3{
    animation: floating3 3s ease-in-out infinite;
}

@keyframes floating1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes floating2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
}
  @keyframes floating3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}



/*  Media Queries   */
@media (max-width: 1200px) {
    .bottom-left{
        position: absolute;
        height: 80%;
        bottom: -10%;
        left: -10%;
    }
    
    .bottom-right{
        position: absolute;
        height: 80%;
        bottom: -10%;
        right: -10%;
    }
    .button {
        font-size: 1.1rem;
    }
    .heading1{
        font-size: 4rem;
    }
    
    .heading2{
        font-size: 2rem;
        width: 70%;
    }

    .mid-right{
        position: absolute;
        height: 80%;
        bottom: -10%;
        right: -20%;
    }

    .rule{
        font-size: 1.5rem;
    }

    .outer-map-div, .outer-steller-div{
        width: 200px;
        height: 30vh;
    }
    
    .map-img, .steller-img{
        height: 15vh;
    }
}

@media (max-width: 1000px) {
    .bottom-left{
        position: absolute;
        height: 70%;
        bottom: -10%;
        left: -10%;
    }
    
    .bottom-right{
        position: absolute;
        height: 70%;
        top: -10%;
        right: -15%;
    }
    .button {
        font-size: 1.5rem;
    }
    .heading1{
        font-size: 2.5rem;
    }
    #startGameDiv{
        position: absolute;
        top: 3rem;
        right: 27.5%;
    }
    .heading2{
        font-size: 1.5rem;
        width: 70%;
    }
    .mid-right{
        position: absolute;
        height: 60%;
        bottom: 20%;
        right: -20%;
    }

    #rule1{
        height: 80%;
        width: 50%;
        right: 40%;
    }

    .platform-img{
        height: 10vw;
    }

    .button{
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    #emptySpace{
        width: 0vw;
    }

    .bottom-left{
        position: absolute;
        height: 47.5vw;
        bottom: -10%;
        left: -10%;
    }
    
    .bottom-right{
        position: absolute;
        height: 47.5vw;
        top: -10%;
        right: -10%;
    }
    .button {
        font-size: 1rem;
        width: fit-content;
        text-wrap: nowrap;
    }
    .heading1{
        font-size: 2rem;
    }
    #startGameDiv{
        position: absolute;
        top: 11rem;
        height: 50%;
        width: 50%;
        right: 27.5%;
    }
    .heading2{
        font-size: 1.25rem;
    }

    .rule{
        font-size: 1.25rem;
    }

    #rule1{
        height: 70%;
        width: 50%;
        right: 40%;
        top: 20%;
        font-size: 1rem;
    }

    .mid-right{
        position: absolute;
        height: 50vw;
        top: 20%;
        right: -20%;
    }
}

@media (max-width: 600px) {
    #gameDiv{
        width: 100vw;
    }
    
    #gameBgCover{
        width: 100vw;
    }
}
@media (max-width: 426px){
    .button{
        font-size: 0.75rem;
    }
    #startGameDiv{
        right: 25%;
    }

    .mid-right{
        position: absolute;
        height: 50vw;
        top: -10%;
        right: 17.5%;
    }

    #rule1{
        height: 60%;
        width: 80%;
        top: 25%;
        right: 10%;
        font-size: 1rem;
    }

    #midRightVector{
        display: none;
    }

    .outer-map-div, .outer-steller-div{
        width: 150px;
        height: 30vh;
    }
    
    .map-img, .steller-img{
        height: 15vh;
    }
}